<p>Order {{model.id}} for {{model.name}}</p>
<table>
    <tr>
        <td>Item</td>
        <td>Quantity</td>
        <td>Price/Each</td>
        <td>Cost</td>
        <td>Cost%</td>
    </tr>
    {{#each model.items as |item|}}
        <tr>
            <td>{{item.title}}</td>
            <td>{{item.quantity}}</td>
            <td>${{item.unitPrice}}</td>
            <td>${{item.price}}</td>
            <td>XX%</td>
        </tr>
    {{/each}}
    <tr>
        <td>Total {{model.total}}</td>
    </tr>
</table>
